<!DOCTYPE html>
<html>
    <head>
        <title>Cookie Clicker</title>
    </head>
    <body>
        <form action="/signin" method = "POST">
            <label>Name:</label>
            <input name="username" type="text"></input>
            <button type="submit">Submit</button>
        </form>
        <div>
        {{#each table}}
            <h1>{{name}} hi</h1>
        {{/each}}
    </div>
    </body>
</html>